@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Hide scrollbar but keep functionality */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
  width: 0;
  background: transparent;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@theme {
  --color-primary: #0D766E;
  --color-darkPurple: #001B36;
  --color-lightBlue: #D9E7FF;
  --text-lg: 1.125rem;
  --text-normal: 1rem;
  --text-sm: .875rem;
  --text-4xl: 2.441rem;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

@layer components {
  h3 {
    @apply text-center text-[28px] leading-[45px] font-semibold text-[#2C3345] md:text-[39px];
  }

  .container {
    @apply mx-auto block w-full !max-w-[1280px] px-0;
  }

  .btn-primary {
    @apply bg-primary tracking-[-0.4px] text-white py-2 rounded-lg cursor-pointer px-4 h-[42px] font-semibold duration-200 hover:opacity-70;
  }

  .btn-secondary {
    @apply bg-transparent leading-none text-primary border-2 border-primary py-2 rounded-lg cursor-pointer px-4 h-[42px] font-medium duration-200 hover:bg-primary hover:text-white hover:opacity-70;
  }
}

/* Swiper Slider */

.swiper-review .swiper-button-prev:after {
  @apply text-xs font-bold text-primary hover:opacity-30;
}

.swiper-review .swiper-button-prev {
  @apply left-0 justify-start;
}

.swiper-review .swiper-button-next:after {
  @apply text-xs font-bold text-primary hover:opacity-30;
}

.swiper-review .swiper-button-next {
  @apply right-0 justify-end;
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  @variants md {

    .bg-group-2:nth-child(4n-3),
    .bg-group-2:nth-child(4n-2) {
      background-color: white;
    }

    .bg-group-2:nth-child(4n-1),
    .bg-group-2:nth-child(4n) {
      background-color: #F6FBFF;
    }
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.scrolling-banner {
  display: inline-flex;
  animation: scroll 20s linear infinite;
  min-width: 100%;
}

.scrolling-banner:hover {
  animation-play-state: paused;
}